/* ===========================================
           Table of Content
============================================= 

1. Left Section
2. Right Section ===>Animation


*/

section.hero {
  margin-top: 3rem;
}

/* ===============================
       1. Left Section
==================================*/
section.hero .left-section {
  flex-grow: 1;
}
section.hero .parent-avatar.flex {
  align-items: end;
  gap: 0.6rem;
  min-height: 97px;
}

section.hero .left-section .avatar {
  width: 105px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--blue);
  box-shadow: 2px 2px 40px rgb(214, 214, 214, 0.586) inset;
  padding: 1px;
}
section.hero .left-section .icon-verified {
  color: var(--blue);
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}
section.hero h1.title {
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin: 50px 0 30px 0;
  color: #5dbcfc;
  font-family: "Source Code Pro", monospace;
}

section.hero p.sub-title {
  color: var(--subtitle);
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 32px;

  font-family: "Source Code Pro", monospace;
}
section.hero .all-icons {
  font-size: 1.3rem;
  gap: 1.5rem;
  color: var(--subtitle);
  padding-bottom: 140px;
}
section.hero .all-icons .icon:hover {
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
  color: var(--icon-hover);
}
.cv a {
  border: solid var(--blue) 0.5px;
  padding: 0.75rem 0.75rem;
  text-align: center;
  font-size: 16px;
  font-family: "Source Code Pro", monospace;
  text-transform: capitalize;
  border-radius: 10px;
  transition: 0.3s;
}
.cv a:hover {
  background-color: var(--blue);
  opacity: 1;
  color: white;
}
.stack-icons {
  padding-bottom: 3rem;
  justify-content: space-between;
}
.stack-icons img {
  width: 6rem;
}
/* ---------------------------------------
       2. Right Section ===>Animation
-----------------------------------------*/
section.hero .animation {
  width: 350px;
}
/* .reactAnim {
  width: 30px;
} */
@media (max-width: 750px) {
  section.hero .animation {
    display: none;
  }
  .stack-icons {
    padding-top: 1rem;
    padding-bottom: 4rem;
    padding-right: 1rem;

    justify-content: space-between;
  }
  .stack-icons img {
    width: 3rem;
  }
  .cv a {
    font-size: 0.8rem;
  }
  .cv {
    display: flex;
    /* border: 1px solid red; */
    padding: 2rem;
    justify-content: center;
  }
  section.hero h1.title {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 18px;
  }
  .left-section {
    justify-content: center;
    /* border: 1px solid red; */
  }
  .parent-avatar {
    justify-content: center;
    /* border: 1px solid red; */
  }
  section.hero p.sub-title {
    text-align: center;
    margin-top: -18px;
  }
  section.hero .all-icons {
    /* border: 1px solid red; */
    padding-bottom: 0;
    justify-content: center;
  }
  section.hero .left-section {
    justify-content: center;
  }
}
