@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html {
  font-family: "Source Code Pro", monospace;
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);
  --title: rgb(244 244 245);
  --subtitle: rgb(161 161 170);
  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;
  --devider-padding: 1.7rem;
}

.light {
  --primary: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);
  --title: rgb(39 39 42);
  --subtitle: rgb(82 82 91);
  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);
  --icon-hover: #333;
}

body {
  background-color: var(--primary);
  color: #fff;
}

.container {
  border: 2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  padding: 0 2rem;
}
.devider {
  border-bottom: 2px solid var(--border);
  margin: 3rem 0;
  width: calc(100% + var(--devider-padding) + var(--devider-padding));
  margin-left: calc(var(--devider-padding) * -1);
}
li {
  list-style: none;
}
a {
  all: unset;
  transition: 0.2s;
}
a:hover {
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}
.border {
  border: 2px solid red;
}
button {
  all: unset;
}
button:hover {
  cursor: pointer;
}
button:active {
  scale: 0.9;
}
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.scroll2Top {
  background-color: rgba(25, 118, 210, 0.85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 1.5rem;
}
.scroll2Top:hover {
  background-color: rgb(25, 118, 210);
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
    padding: 0 1.7rem;
  }
}
@media (max-width: 600px) {
  .container {
    width: 98%;
    padding: 0 1.7rem;
  }
  .scroll2Top {
    width: 2.2rem;
    height: 2.2rem;
    opacity: 0.5;
  }
}
